/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

.color-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 35px;
  color: white;
}

/* nav starts */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
}
.nav-tittle {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 15px;
}

li a {
  text-decoration: none;
}
.banner {
  display: flex;
  align-items: center;
  padding: 50px 20px 0px 150px;
  justify-content: space-between;
  background-image: url("../images/header_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.banner-content {
  max-width: 500px;
}
.profile-pic {
  width: 584px;
  height: 676px;
}

.banner-greeting {
  font-size: 45px;
  font-weight: 700;
  color: #747477;
  margin-bottom: 0px;
}
.banner-tittle {
  margin-bottom: 20px;
  margin-top: 5px;
}
.banner-description {
  margin-bottom: 30px;
}

.btn-white {
  background-color: #fff;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
}
/* main section style */
.about {
  text-align: center;
  border-radius: 10px;
  background: #fff8f3;
  padding: 120px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* about section styles */

.about {
  margin-top: 50px 50px;
}
.section-description {
  color: #757575;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
